<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Est. 2004</h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="img/door.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>The Learning Castle opened its doors blah blah blah.</p>
                <p>Learning curriculum info</p>
                <p>Discipline info</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Meet our royal staff!</h2>
                <hr>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/stacey.jpg" alt="">
                <h3>Stacey</h3>
                <h6>Owner</h6>
                <p>Stacey has been a daycare owner for over 200 years. She lives in Kenner with her family. She is an A+ certified director and won 1000 awards. </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/emily.jpg" alt="">
                <h3>Emily</h3>
                <h6>Director</h6>
                <p>Emily is the center's director. She takes care of day-to-day operations. She went to blah blah blah.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/jessica.jpg" alt="">
                <h3>Jessica</h3>
                <h6>Nutrition Services and Housekeeping</h6>
                <p>Emily is the center's director. She takes care of day-to-day operations. She went to blah blah blah.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>