<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Est. 2006</h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="img/door.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>The Learning Castle opened its doors blah blah blah.</p>
                <p>Learning curriculum info</p>
                <p>Discipline info</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Meet our royal staff!</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/stacey.jpeg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Ms. Stacey</h3>
                    <p>Stacey studied at U.N.O. for three years before receiving her diploma in Child Daycare Management in 1999 from Harcourt University. She has been the proud owner of four successful daycare centers in Jefferson Parish, starting in 2000. Since that time, she has achieved classification as a Level Three Director under the Louisiana Quality Start program. She is also a Continuing Education Trainer with the LA Pathways program of Northwestern State University, Louisiana.  Stacey is a Designated Toddler Class Observer with the Louisiana Department of Education and is Certified in CPR, Pediatric First Aid, and Medication Administration. She is a childcare advocate who has testified in Baton Rouge before the BESE board on behalf of childcare centers statewide, and she has been a member of the Southern Early Childhood association for several years.</p>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/emily.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Emily</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>