<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Est. 2011</h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="img/door.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>More info coming soon!</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center">Meet our royal staff!</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-1 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/emily.jpg" alt="">
                </div>
                <div class="col-md-7 col-md-push-1 col-sm-8">
                    <h3>Emily Poché Barlow</h3>
                    <h4>Director</h4>
                    <p>Emily received her Bachelor of Arts in Sociology with a minor in Psychology from LSU. She is a Designated PreK Class Observer with the Louisiana Department of Education. She is also certified in CPR and Pediatric First Aid. Emily has worked in the childcare field for six years. She started working at The Learning Castle as our PreK-2 teacher in 2012, and then in 2013 she was promoted to Center Director.  She is currently in charge of the day-to-day operations of the facility and oversees all aspects of staff and customer relations.</p>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3 col-md-push-1 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/stacey.jpeg" alt="">
                </div>
                <div class="col-md-7 col-md-push-1 col-sm-8">
                    <h3>Stacey Allesandro</h3>
                    <h4>Owner</h4>
                    <p>Stacey studied at U.N.O. for three years before receiving her diploma in Child Daycare Management in 1999 from Harcourt University. She has been the proud owner of four successful daycare centers in Jefferson Parish, starting in 2000. Since that time, she has achieved classification as a Level Three Director under the Louisiana Quality Start program. She is also a Continuing Education Trainer with the LA Pathways program of Northwestern State University, Louisiana.  Stacey is a Designated Toddler Class Observer with the Louisiana Department of Education and is certified in CPR, Pediatric First Aid, and Medication Administration. She is a childcare advocate who has testified in Baton Rouge before the BESE board on behalf of childcare centers statewide, and she has been a member of the Southern Early Childhood association for several years.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>