<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Infant Room</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/mandie.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Ms. Mandie</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h3 class="intro-text text-center">Toddler Room</h3>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/gwen.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Gwen</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/esther.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Esther</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="img/1yo1.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="img/1yo2.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">PreK-2 Room</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/becky.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Becky</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="img/2yo1.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="img/2yo2.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">PreK-3 Room</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/diana.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Diana</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/allie.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Ms. Allie</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="img/3yo1.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">PreK-4 Room</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/angie.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Mrs. Angie</h3>
                    <p>Mrs. Angie received her degree in The Care and Development of Young Children from Delgado in 2014. While there, she was on the Dean's list and she also participated in the Disney Internship program. Mrs. Angie is a member of the National Association for Educators of Young Children and the Southern Early Childhood Association.  She is certified in CPR and Pediatric First Aid. In addition to being our PreK-4 teacher, she is also our curriculum coordinator. She has been with The Learning Castle since 2014.</p>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="img/4yo1.jpeg" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Aftercare</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="http://placehold.it/400x600" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Ms. Heather</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="hidden-lg hidden-md">&nbsp;</div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nutrition Services and Housekeeping</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-push-2 col-sm-4" >
                    <div class="hidden-xs">&nbsp;</div>
                    <img class="img-responsive portrait" src="img/jessica.jpg" alt="">
                </div>
                <div class="col-md-5 col-md-push-2 col-sm-8">
                    <h3>Ms. Jessica</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat diam sit amet ante dignissim, in ornare mauris bibendum. Suspendisse auctor elit et egestas dapibus. Pellentesque vehicula pretium laoreet. Mauris sed ipsum eu leo eleifend cursus. In sodales ultricies massa, non maximus lorem. Pellentesque tempor eros in ipsum suscipit, a pharetra est euismod. Nullam id nibh id elit gravida lacinia porta ut sapien. Morbi luctus, odio eget mollis egestas, nisl nisi dignissim metus, a gravida arcu sapien sit amet est. Vivamus eget pulvinar enim, varius semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris elit augue, dignissim non massa vitae, pharetra condimentum nibh. Quisque id orci a lacus tristique laoreet eget in arcu.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>