<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-home" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-home" data-slide-to="1"></li>
                        <li data-target="#carousel-home" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/building.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-home" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Welcome to The Learning Castle</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-lg-push-1">
                <img class="img-responsive" src="img/tom-willmott.jpeg">
                <p class="caption text-center">In honor of Dr. Seuss's 111th birthday, <span class="no-wrap">State Rep Tom Willmott</span> stopped by to read <span class="no-wrap">"Green Eggs and Ham"</span> to the children</p>
            </div>
            <div class="col-lg-6 col-lg-push-1">
                <p>We are a Type III licensed daycare center located in North Kenner. Our fun-filled atmosphere is safe, vibrant, and playful. We view each day as a new opportunity to learn and grow together! We incorporate our age-appropriate curriculum in a clean, loving, and attentive environment. Most of all, we offer parents peace of mind. Our goal is to make sure that you are comfortable and secure with the quality of care your child receives while under our supervision.</p>
                <div>&nbsp;</div>
                <a href="http://www.facebook.com">
                    <img class="center" src="img/fb.png">
                    <h4 class="text-center">Click here to see us having fun on Facebook!</h4>
                </a>
            </div>
        </div>
    </div>

</div>